<h1><font size = 5><center> Battle of the Neighborhoods - Wake vs Mecklenburg Neighborhoods in North Carolina. </center></font></h1>
<a><img src = "http://www.savvyandcompany.com/wp-content/uploads/2016/08/Charlotte-Neighborhoods-Elizabeth3.jpg" height="10" width="1000", align = "center"></a>

# Background of the data
The dataset for this project consists of information regarding the cities in the USA obtained from https://simplemaps.com/data/us-cities. Specifically, the data contain: City Name, County Code, County Name, Density, Id, Latitude, Longitude, Source, State Id, State Name, and Timezone. Though this data came with the coordinates, i was not sure how good  it is so the coordinates were removed living the city, county, state names etc. Tableau was used for geocoding the data to obtain the correct coordinates. The data was then exported and converted into a .json, read into a pandas dataframe and sliced into Wake and Meclenburg data for use in the project. Besides this data, the **Foursquare API** was be used to collect venues near the neighborhoods for cluster analysis to be performed on the data.

### Let' import some libraries and view the data in a dataframe

In [4]:
import pandas as pd # library for data analsysis
print('Libraries imported.')

Libraries imported.

In [6]:
json_data = '/resources/data/some_us_cities-coordinates.json'
df = pd.read_json(json_data, orient='columns')
print('The dataframe has', df.shape, 'rows and columns respectively.')
df.head()

The dataframe has (36651, 11) rows and columns respectively.

,City Name,County Code,County Name,Density,Id,Latitude,Longitude,Source,State Id,State Name,Timezone
0,Prairie Ridge,53053,Pierce,1349.8,1840037882,47.1443,-122.1408,polygon,WA,Washington,America/Los_Angeles
1,Edison,53057,Skagit,127.4,1840017314,48.5602,-122.4311,polygon,WA,Washington,America/Los_Angeles
2,Packwood,53041,Lewis,213.9,1840025265,46.6085,-121.6702,polygon,WA,Washington,America/Los_Angeles
3,Wautauga Beach,53035,Kitsap,261.7,1840037725,47.5862,-122.5482,point,WA,Washington,America/Los_Angeles
4,Harper,53035,Kitsap,342.1,1840037659,47.5207,-122.5196,point,WA,Washington,America/Los_Angeles